

*{
    margin: 0;
    padding: 0;


}


nav {

    height: 70px;
    width: 100%;
    background-color:#2e2e2d ;
    padding-top: 55px;

}


nav ul{

    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: right;


}



li{
    display: inline;
}



li a{

    margin-right: 40px;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;

}

li a:hover {

    color: #d6a16f;
}




nav h3{

    float: left;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    letter-spacing: 4px;


}


.title{
margin-bottom: 40px;

}



nav a{
    margin-right: 70px;
    word-spacing: 10px;
    letter-spacing: 2px;


}


header{
    height: 350px;
    width: 100%;
    background-color:#2e2e2d ;

}



header h2{
    float: left;
    margin-top: 100px;
    margin-left: -325px;
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: white;
    letter-spacing: 5px;
    font-weight: 100;
    line-height: 60px;


}



 header h5{

    float: left;
    margin-top: 250px;
    margin-left: -600px;
     margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    border: 1px solid white;
    text-align: center;
    padding: 10px;


}



 .main-div{
     width: 100%;
     height: 540px;
     background-color: lightgrey;



 }


 .main-picture{
     width: 100%;
     height: 540px;

 }


 .second-div{

     width: 100%;
     height: 540px;
     background-color: white;

 }


 .pumpkin-cake{
     width: 450px;
     height: 450px;
     margin-top: 40px;
     margin-left: 110px;

 }

 .second-div h1{
     float: right;
     font-family: 'Darker Grotesque', sans-serif;
     font-size: 50px;
     margin-right: 230px;
     text-align: center;
     margin-top: 150px;
     letter-spacing: 10px;
 }

 .second-div p{
     float: right;
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     margin-right: 290px;
     text-align: center;
     margin-top: -200px;


 }


 .second-div h2{
     float: right;
     font-family: 'Open Sans', sans-serif;
     font-size: 15px;
     margin-right: 360px;
     text-align: center;
     margin-top: -110px;
     border: 1px solid black;
     padding: 15px;
 }



 .third-div{


     width: 100%;
     height: 540px;
     background-color: #f0f0ea;


 }




 .third-div img {

     width: 500px;
     height: 500px;
     float: right;
     margin-top: 20px;
     margin-right: 110px;

 }



 .third-div h1 {
     float: left;
     font-family: 'Darker Grotesque', sans-serif;
     font-size: 42px;
     margin-right: 200px;
     text-align: center;
     margin-top: 190px;
     letter-spacing: 10px;
     margin-left: 270px;

 }

 .third-div p {
     float: left;
     font-family: 'Open Sans', sans-serif;
     color: black;
     font-size: 15px;
     margin-left: 225px;
     text-align: center;
     margin-top: 15px;


 }


 .forth-div{

     width: 100%;
     height: 790px;


 }



.forth-div img {

     width: 500px;
     height: 500px;
     float: left;
     margin-left: 110px;
     margin-top: 40px;
 }



.forth-div h1 {

    float: right;
    margin-right: 290px;
    margin-top: 200px;
    text-align: center;
    letter-spacing: 8px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 45px;
}



.forth-div p {

    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    text-align: center;
    margin-right: 280px;
    margin-top: 20px;
}



.forth-div h2 {

    float: right;
    margin-top: 90px;
    margin-right: 280px;
    font-family: 'Open Sans', sans-serif;
    color: #c59956;
    font-size: 31px;

}



.forth-div h4 {

    text-align: center;
    float: right;
    font-size: 17px;
    margin-top: 30px;
    margin-right: 330px;
    font-family: 'Open Sans', sans-serif;
}


 footer {
    width: 100%;
    height: 400px;
    background-color: #2e2e2d;
}


 .facebook {
     width: 2%;
     height: 28px;
     margin-top: 100px;
     margin-left: 60px;

 }


 .twitter {
     width: 2%;
     height: 28px;
     margin-top: 100px;
     margin-left: 20px;


 }

